[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/csapprox"]
	path = vim/bundle/csapprox
	url = git://github.com/godlygeek/csapprox.git
[submodule "vim/bundle/align"]
	path = vim/bundle/align
	url = git://github.com/vim-scripts/Align.git
[submodule "vim/bundle/vim-powerline"]
	path = vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/a"]
	path = vim/bundle/a
	url = git://github.com/vim-scripts/a.vim.git
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
[submodule "vim/bundle/tlib"]
	path = vim/bundle/tlib
	url = git://github.com/vim-scripts/tlib.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/errormarker"]
	path = vim/bundle/errormarker
	url = git://github.com/vim-scripts/errormarker.vim.git
[submodule "vim/bundle/clang_complete"]
	path = vim/bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete
[submodule "vim/bundle/Command-T"]
	path = vim/bundle/Command-T
	url = https://github.com/wincent/Command-T.git
[submodule "vim/bundle/fswitch"]
	path = vim/bundle/fswitch
	url = https://github.com/vim-scripts/FSwitch
[submodule "vim/bundle/vcscommand"]
	path = vim/bundle/vcscommand
	url = git://repo.or.cz/vcscommand
[submodule "vim/bundle/vim-clang-format"]
	path = vim/bundle/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format
[submodule "vim/bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby
